body {
  background-color: #ccc;
}

* {
  padding: 0;
  margin: 0;
}

.markdown{
  border: 1px solid purple;
  min-width: 300px;
  max-width:30rem;
  min-height: 20rem;
  padding: 1rem;
  border-radius: 4px;
  overflow-wrap: break-word;
  background-color: #f8f8f8;
}
.container {
  margin-top:40px ;
  display: flex;
  flex-direction: column;
  gap: 4rem;
  width: 100vw;
  height: 100vh;
  place-items: center;
}

textarea {
  width: 100%;
  height: 150px;
  padding: 12px 20px;
  box-sizing: border-box;
  border: 2px solid #ccc;
  border-radius: 4px;
  background-color: #f8f8f8;
  font-size: 16px;
  resize: auto;
}

header {

  display: flex;
  justify-content: space-between;
  align-items: center;
background-color: rgb(139, 139, 202);
padding: 1em;
}

button {
  height: 1rem;
  display: flex;
  place-items: center;
}
